html, body {
    margin: 0;
    padding: 0;
    background-color: #111827;
    font-family: "Josefin Sans", sans-serif;
    color: #ffff;
    user-select: none;
}

h3 {
    padding: 2px;
}


img {
    width: 150px;
    margin: 20px auto;

}

h1 {
    font-family: "Josefin Sans", sans-serif;
    color: #ffff;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    margin: 0 auto;
    gap: 20px;
}

.to-from {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px;

}


input {
    padding: 10px 10px 100px;
    text-align: start;
    background-color: #444059;
    border: none;
    border-radius: 8px;
    text-wrap: wrap;
    color: #8F8F8F;
    font-family: "Inter", sans-serif;
}

#inputTo-el, #inputFrom-el {
    padding: 20px 0;
    width: 205px;
    text-align: center;
}

h2 {
    color: #ffff;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    
}

button {
    padding: 20px 100px;
    border: none;
    border-radius: 8px;
    background-color: #38BDF8;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

ul {
    display: flex;
    flex-direction: column-reverse;
    max-width: 400px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    gap: 20px;

}

ul li {
    padding: 0 20px;
    background-color: #ffff;
    box-shadow: 0 1px 4px rgb(0,0,0,0.2);
    font-family: "Inter", sans-serif;
    color: black;
    min-width: 380px;
    margin: 0;

}

label {
    border: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    white-space: nowrap !important;
    width: 1px !important;
}